<!DOCTYPE html>

<html>
    <head>
        <title>Matt's Test Blog</title>
        <link href="/stylesheets/blog_style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <a href="/blog" class="main-title">
            Matt's Test Blog
        </a>
        <a href="/blog/newpost" class="main-title">
            +
        </a>
        
        {% for post in posts %}
        <div class="post">
            <div class="post-heading">
                <a href="/blog/{{post.key().id()}}" class="post-title">
                  {{post.title}}
                </a>

                <div class="post-date">
                  {{post.created}}
                </div>
            </div>

            <div class="post-content">
                {{post.content}}
            </div>
        </div>
        <br><br>
        
        {% endfor %}
    </body>
</html>